
body {
    padding: 0;
    margin: 0;
}




ul.ul_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgb(60, 62, 63);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  ul.ul_nav li {
    display: block;
    
    border-bottom: 1px solid #bbb;
}
ul.ul_nav li:last-child {
    border-bottom: none;
}

ul.ul_nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
}

ul.ul_nav a:hover {
    background-color: rgb(85, 94, 97);
}

ul.ul_nav li a.active{
    background-color: rgb(108, 113, 116);
}

main {
    margin-left: 10%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 1300px) {
    ul.ul_nav {
        position: relative;
        width: 100%
      }

      ul.ul_nav li {
        float: left;
        border-bottom: none;
        margin: 0;
        border-right: 1px solid #bbb;
        
    }
    ul.ul_nav li:last-child {
        border-right: none;
    }

    ul.ul_nav a {
        float: left;
        
    }

    main{
        margin-left: 0;
    }
}
@media screen and (max-width: 700px) {
    

    ul.ul_nav li {
        text-align: center;
        float:none;
        border-bottom: 1px solid #bbb;
        padding: 0;
    }

    ul.ul_nav a {
        text-align: center;
        float:none;
    }

    ul.ul_nav li:last-child {
        border-bottom: none;
    }
}