body {
    padding: 0;
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 
    "H H"
    "P I"
    "P I";
}

p {
    grid-area: P;
}
img{
    grid-area: I;
    max-height: 100%;
    max-width: 50%;
    
}
h1{
    grid-area: H;
}


ul.ul_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgb(60, 62, 63);
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.ul_nav li {
    display: block;

    border-bottom: 1px solid #bbb;
}

ul.ul_nav li:last-child {
    border-bottom: none;
}

ul.ul_nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
}

ul.ul_nav a:hover {
    background-color: rgb(85, 94, 97);
}

ul.ul_nav li a.active {
    background-color: rgb(108, 113, 116);
}

main {
    margin-left: 10%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 1300px) {
    ul.ul_nav {
        position: relative;
        width: 100%
    }

    ul.ul_nav li {
        float: left;
        border-bottom: none;
        margin: 0;
        border-right: 1px solid #bbb;

    }

    ul.ul_nav li:last-child {
        border-right: none;
    }

    ul.ul_nav a {
        float: left;

    }

    main {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {


    ul.ul_nav li {
        text-align: center;
        float: none;
        border-bottom: 1px solid #bbb;
        padding: 0;
    }

    ul.ul_nav a {
        text-align: center;
        float: none;
    }

    ul.ul_nav li:last-child {
        border-bottom: none;
    }
}

.grid_container_topical{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1);
    grid-template-rows: auto;
    grid-template-areas: 
    "intro intro intro"
    "paragraph1 paragraph1 paragraph1"
    "subheader1 subheader1 subheader1"
    "paragraph2 paragraph2 paragraph2"
    "paragraph3 paragraph3 paragraph3"
    "picture1 paragraph4 paragraph4"
    "subheader2 subheader2 subheader2"
    "paragraph5 paragraph5 paragraph5"
    "paragraph6 paragraph6 picture2"
    "paragraph7 paragraph7 paragraph7";

}
.paragraph1{   
    grid-area: paragraph1; 
}  
.paragraph2{   
    grid-area: paragraph2; 
}  .paragraph3{   
    grid-area: paragraph3; 
}  .paragraph4{   
    grid-area: paragraph4; 
}  .paragraph5{   
    grid-area: paragraph5; 
}  .paragraph6{   
    grid-area: paragraph6; 
}  .paragraph7{   
    grid-area: paragraph7; 
}
.intro{
grid-area: intro;
}

/* List of subheaders (h2)*/
.subheader1{
grid-area: subheader1;
}

.subheader2{
grid-area: subheader2;
}

.picture1{
grid-area: picture1;
}

.picture2{
grid-area: picture2;
}

.picture3{
grid-area: picture3;
}

.picture1,
.picture2,
.picture3{
  margin: auto;
}

.picture1 > img,
.picture2 > img,
.picture3 > img{
  width: 100%;
  max-width: 100px;
  max-height: 100%;
  
}
